.h1{
    padding: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.div1{
    padding: 100px;
    justify-content: center;
}
.img{
    width: auto;
    /* max-width: 200px; */
    display: flex;
    height: auto;
    object-fit: cover;
    float: inline-start;
    
    justify-content: center;
}

@media (max-width: 768px) {
    .div1{
        padding: 10px;
        justify-content: center;
    }
    .h1{
        margin-bottom: 20px;
    }
    .img{
        max-width: 200px;
        margin-bottom: 10px;
    }
}
